img { border: 5px solid brown;  }

.niceChallahHiddenClass {
    display:none;
}
.niceChallahShowClass {
    display:inline;
}

.row div {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}