.colHeader {
  font-weight: bold;
}
.container {
  width: 900px;
}

table {
  width: 100%;
}

.matform-container  {
  margin-left: 18px;
}

/* update css here */

.example-container {
  margin-left: 18px;
  margin-right:18px;
}

h1,h2,h4, button {
  margin-left: 18px;
}